# Dépendances
/node_modules
/build
/out

# Fichiers de log et de cache
npm-debug.log*
yarn-debug.log*
.eslintcache
.cache

# Fichiers environnement
.env
.env.local
.env.*.local

# Fichiers locaux/OS
.DS_Store
Thumbs.db

# Fichiers de configuration VS Code spécifiques à l'utilisateur
.vscode/*.local

# Configurations IDE
.idea
*.iml