.updown{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: upDownMove 2s infinite ease-in-out;
}


@keyframes upDownMove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}