.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner-image {
  width: 250px;
  height: 200px;
  animation: spin 2s linear infinite, bounce 1.5s infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Background light effect */


@keyframes shine {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1); /* Start and end at normal size */
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2); /* Slightly larger glow in the middle */
    opacity: 1;
  }
}